*.png
*.jpg
*.xml
*.h5
*.hdf5
/.idea
/.vs/
*.sqlite
*.suo
*.vs
/DL/__pycache__
*.pyc
*.zip
model/deprecated
*.txt
model/log
model/datasets/
*.ipynb
model/traj.py
model/x.py
model/sythesis.py
model/interpolate.py
